/* src/ContactMe.css */
.contact-me {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contact-me h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  margin: 10px 0;
}

.form-group input, textarea {
  width: 100%;
  padding: 7px 2px;
  border: 1px solid #05ef05;
  border-radius: 5px;
  font-size: 1.1rem;
}

button {
  display: block;
  width: 100px;
  margin: 0 40%;
  padding: 8px;
  background-color: #00ff00;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #03ee03;;
}
